html, body, #root {
  height: 100%;
  margin: 0;
}

/* ✅ IMPORTANTÍSIMO: el body NO debe scrollear */
body {
  overflow: hidden;
}


.Principal{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Navbar{
  flex-shrink: 0;
}

.Layout{
  flex: 1;
  height: 100%;        /* ✅ añade esto */
  overflow: hidden;    /* ✅ el scroll NO es aquí, es adentro */
}

.Footer{
  flex-shrink: 0;
}